.container__header {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: space-between;
    margin: 0 250px;
    width: 1440px;
}

.paginas {
    display: flex;
    gap: 30px;
}

.paginas__link {
    color: var(--cinza);
    text-decoration: none;
}

.button {
    display: flex;
    gap: 20px;
}

.butao__entrar {
    background: none;
    border: none;
    color: var(--cinza);
    cursor: pointer;
}

.butao__cadastrar {
    background-color: var(--vermelho);
    border: none;
    border-radius: 8px;
    color: var(--branco);
    cursor: pointer;
    padding: 0.5em 0.7em;
}


